@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');

html{
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    background-color: rgb(0, 0, 0);
    color: white;
    scroll-behavior: smooth;
    font-size: large;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    line-height: 50%;
    background-color: #3A7EFD;
    color: black;
    height: 175px;
    width:98.6vw;
    padding-top: .5%;
    padding-left: .5%;
    h1{
        font-family: "Bebas Neue", sans-serif;
        font-weight: 400;
        font-size: 50px;
    }
    h2{
        font-family: "Bebas Neue", sans-serif;
        font-weight: inherit;
    }
    h3{
        font-weight: 400;
        text-align: right;
        margin-right: .5%;
    }
    sub{
    font-size: small;
    text-align: right;
    }
    
}
nav{
    position: sticky;
    top: 0px;
    z-index: 1000;
}
nav ul{
    background-color: #3a7efdc4;
    display: flex;
    gap: 2.5%;
    padding: 25px;
    margin-top: 0;
    list-style-type: none;
}

nav li a {
  font-family: "Bebas Neue", sans-serif;
  color: #FFFEA0;
  text-align: center;
  padding: 14px 25px;
  text-decoration: none;
  font-size: 24px;
  border-radius: 5px;
  transition: all .25s;
}

nav li a:hover {
  background-color: #FFFEA0;
  color: black;
}
nav li a:active {
  background-color: #FFFEA0;
  color: black;
}

section {
    display: flex;
    flex-direction: row;
    padding-top: 10vh;
    padding-bottom: 10vh;
    min-height: 90vh;
    align-items: center;
}
section #container{
    
    flex-wrap: nowrap;
    justify-content: space-evenly;
    background-color: #FFFEA0;
    padding: 2.5% 15%;
    top: 55%;
    width: 100%;
    
}
article{
    color: black;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 10%;
}

article h1{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-size: 50px;
}


#skill-gallery {
    display: flex;
    justify-content: space-around;
    gap: 30px;
    padding: 50px;
}


        .card {
            background-color: rgb(255, 249, 241);
            padding: 30px;
            width: 250px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.404);
            border-radius: 20px;
            text-align: center;
           
        }
        .card img{

            width: 230px;
            height: 230px;
            border-radius: 8px;

        }


        .card h4 {
            font-family: "Bebas Neue", sans-serif;
            font-weight: 400;
            margin-top: 15px;
            font-size: 35px;
            color: #3A7EFD;
    }


        .card p{
            text-align: center;
        }


.grid-container{
            display: grid;
            height: 75vh;
            padding: 10px;
            justify-content: center;
            align-content: center;

            grid-auto-columns:1fr;
            grid-auto-rows: 1fr ;
            gap: 10px;

            grid-template-areas: 
                "item-1 item-1 item-2 item-3 item-3"
                "item-7 item-7 item-7 item-3 item-3"
            ;
        }
        .grid-item{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            padding: 25px;
            background-color: #3A7EFD;
            border-radius: 10px;
            text-align: center;
            transition: all .25s;
            .text{
            background-color: rgba(0, 0, 0, 0);
            color: rgba(255, 255, 255, 0);
            padding: 10px;
            font-weight: 600;
            backdrop-filter: blur(0px);
            width: 100%;
            transition: all .25s;
            }
        }
        .grid-item:hover{
            transform: scale(1.1);
            .text{
            background-color: rgba(0, 0, 0, 0.61);
            color: rgb(255, 255, 255);
            backdrop-filter: blur(10px);
            }
        }
form {
   max-width: 700px;
   text-align: center;

  
  input, textarea {
    margin-left: auto;
    margin-right: auto;
    width: 600px;
     padding: 2em;
    border-radius:10px;
     display: block;
     width: 100%;
     margin-top: 1em;
     resize: none;
  }
  
  #input-submit {
     color: white; 
     background: #3A7EFD;
     cursor: pointer;
    
  }
  #input-reset {
     color: white; 
     background: #fd3a4a;
     cursor: pointer;
    
  }
  
  textarea {
      height: 126px;
  }
}


.half {
  float: left;
  width: 90%;
  margin-bottom: 1em;
}

.right { width: 90%; }

.left {
     margin-right: 2%; 
}






footer{
    background-color: #3A7EFD;
    padding: 25px;
    text-align: center;
}


a, a:hover {
	text-decoration: none;
}

.socialbtns, .socialbtns ul, .socialbtns li {
  margin: 0;
  padding: 5px;
}

.socialbtns li {
    list-style: none outside none;
    display: inline-block;
}

